body, html {
    margin:0px;
    padding:0px;
    font-family:'PT Sans', sans-serif;
    height: 100%;
    min-width: 1200px;
}
.gradient {
  background-image: repeating-linear-gradient(135deg, #000000 0px,#000000 10px, #f2cc46 10px, #f2cc46 20px);
  height: 14px;
  width: 100%;
}
.clearfix:after{
	content:'';
	display:table;
	clear: both;
	width: 100%;
	height: 10px;
}
.container{
	overflow: hidden;
	width: 960px;
	padding: 15px 15px;
	margin: 0 auto;
	height: 100%;
}
.normal-weight {
	font-weight: normal;
}
.seperate-area {
	background-color: #000000;
	width: 100%;
	height: 10px;
}
/*----------Header----------*/
.page-header {
    background-color:#ffcd34;
}
.logo-brand {
	float:right;
	 color: #000000;
	 font-size: 24px;
	 padding-left:15px;
	 font-weight: bold;
}
.logo {
	float: left;
	padding: 5px 15px;
}
.nav-primary {
	float: right;
	font-weight: normal;
	font-size: 16px;
}
.nav-primary ul {
	margin:0 auto;
	padding: 0;
}
.nav-primary span {
	padding-right: 10px;
}
 .nav-list {
 	display: inline-block;
 	padding-left: 10px;
 	padding-right: 10px;
 }
 .nav-list a {
 	text-decoration: none;
 	color: #98791b;
 	border: 2px solid rgba(0, 0, 0, 0);
 	padding: 15px 10px;
 }
 .nav-list a:hover {
    border: 2px solid #bc9d36;
 }
 .nav-list a:active {
 	border: 2px solid #796e38;
 }
 .active-link-catalog {
 	color:#000000;
 	padding: 15px 20px;
 }
 .btn-order  {
 	display: inline-block;
    background:#ffe184;
    padding: 15px 30px;
}
.btn-order a {
    text-decoration: none;
	color: black;
}
.btn-order:hover {
    background:#ffecb2;
}
.btn-order:active {
	background:#f6bf16;
}
/*------------Contacts------------*/
.contacts-consult {
	background-image: url(../Icon/Contacts-consult-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  vertical-align: middle;
}
.contact-subtitle {
	font-size: 26px;
    color: #ffcd34;
    display: inline-block;
    font-weight: normal;
    padding-right: 16px;
}
.content-subtitle {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.contact-button {
  float: right;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contact-btn {
  font-size: 18px;
  font-weight: bold;
  color:  #202e3b;
  border: 1px solid #ffcd34;
  background-color: #ffcd34;
  padding: 10px 15px;
  text-decoration: none;
}
/*----------contact-info-and-reviews----------*/
.contact-map {
float: left;
width: 40%;
}
.contact-form {
  float: right;
  width: 30%;
}
/*----------footer----------*/
.page-footer {
  background: #29323d;
}
.logo-brand-footer {
   float:right;
   color: #ffcd34;
   font-size: 24px;
   font-weight: bold;
   padding-left: 15px;
}
.logo-footer {
  float: left;
}

.nav-primary-footer {
  float: right;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
}
.nav-primary-footer ul {
  margin:0;
}
 .footer-nav-menu_item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
 }
 .footer-nav-menu_item a {
  text-decoration: none;
  color: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 15px 10px;
 }
 .footer-nav-menu_item a:hover {
    border: 2px solid #636d76;
 }
 .footer-nav-menu_item a:active {
  border: 2px solid #a6abb1;
 }
 .active-link-footer {
  color:#f5f5f5;
  padding: 15px 20px;
 }
 .btn-order-footer  {
  display: inline-block;
    padding: 15px 30px;
}
.btn-order-footer a {
    text-decoration: none;
  color: #ffcd34;
}
.btn-order:hover {
    color:#d4ac36;
}
.btn-order:active {
  color:#bc9a37;
}