body, html {
    margin:0px;
    padding:0px;
    font-family:'PT Sans', sans-serif;
    height: 100%;
    min-width: 1200px;
}
.gradient {
  background-image: repeating-linear-gradient(135deg, #000000 0px,#000000 10px, #f2cc46 10px, #f2cc46 20px);
  height: 14px;
  width: 100%;
}
.clearfix:after{
	content:'';
	display:table;
	clear: both;
	width: 100%;
	height: 10px;
}
.container{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	height: 100%;
}
.normal-weight {
	font-weight: normal;
}
.seperate-area {
	background-color: #000000;
	width: 100%;
	height: 10px;
}
/*----------Header----------*/
.page-header {
    background-color:#ffcd34;
    padding: 15px;
}
.logo-brand {
	float:right;
	 color: #000000;
	 font-size: 24px;
	 padding-left:15px;
	 font-weight: bold;
}
.logo {
	float: left;
	padding-top: 5px;
  padding-bottom: 5px;
}
.nav-primary {
	float: right;
	font-weight: normal;
	font-size: 16px;
}
.nav-primary ul {
	margin:0 auto;
	padding: 0;
}
.nav-primary span {
	padding-right: 10px;
}
 .nav-list {
 	display: inline-block;
 	padding-left: 10px;
 	padding-right: 10px;
 }
 .nav-list a {
 	text-decoration: none;
 	color: #98791b;
 	border: 2px solid rgba(0, 0, 0, 0);
 	padding: 13px 10px;
 }
 .nav-list a:hover {
    border: 2px solid #bc9d36;
 }
 .nav-list a:active {
 	border: 2px solid #796e38;
 }
 .active-link-catalog {
 	color:#000000;
 	padding: 15px 20px;
 }
 .btn-order  {
 	display: inline-block;
    background:#ffe184;
    padding: 15px 30px;
}
.btn-order a {
    text-decoration: none;
	color: black;
}
.btn-order:hover {
    background:#ffecb2;
}
.btn-order:active {
	background:#f6bf16;
}
/*------------Contacts------------*/
.contacts-consult {
	background-image: url(../Icon/Contacts-consult-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
  vertical-align: middle;
  padding: 15px;
}
.contact-subtitle {
	  font-size: 26px;
    color: #ffcd34;
    display: inline-block;
    font-weight: normal;
    padding-right: 16px;
}
.content-subtitle {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
.contact-button {
  float: right;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact-btn {
  font-size: 18px;
  font-weight: bold;
  color:  #202e3b;
  border: 1px solid #ffcd34;
  background-color: #ffcd34;
  padding: 10px 15px;
  text-decoration: none;
}
.contact-btn:hover {
  background-color: #ffd966;
}
.contact-btn:active{
  background-color: #f6bf16;
}
/*----------contact-info-and-reviews----------*/
.contact-map-form {
  padding: 15px;
  background-color: #f3f3f3;
}
.contact-map {
float: left;
width: 64%;
margin-right: 2%;
border: 1px solid #d5d5d5;
padding-right: 5px;
}
.contact-form {
  float: right;
  width: 32%;
  margin:0;
}
.contact-number {
  margin:0;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 40px;
}
.contact-number:before {
  content: url(../Icon/telephone-icon.png);
  position: absolute;
  left: 0;

}
.contact-email {
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-left: 40px;
}
.contact-email:before {
  content: url(../Icon/email-icon.png);
  position: absolute;
  left: 0;
}
.form-subtitle {
  font-size: 16px;
  font-weight: normal;
}
.contact-form input {
width: 280px;
height: 40px;
margin-bottom: 10px;
border: 1px solid #d5d5d5;
padding-left: 15px;
padding-right: 15px;
}
::-webkit-input-placeholder {color:#b0b0b0;font-family:'PT Sans', sans-serif;}
::-moz-placeholder          {color:#b0b0b0;font-family:'PT Sans', sans-serif;}
:-moz-placeholder           {color:#b0b0b0;font-family:'PT Sans', sans-serif;}
:-ms-input-placeholder      {color:#b0b0b0;font-family:'PT Sans', sans-serif;}

.contact-form textarea {
  width: 280px;
  height: 80px;
  border: 1px solid #d5d5d5;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 10px;
}

.contact-form button {
  text-align: center;
  border: 0px solid #354b60;
  background-color: #354b60;
  text-decoration: none;
  color: #fff;
  width: 315px;
  font-size: 18px;
  font-weight: normal;
  font-family: inherit;
  height: 45px;
  cursor: pointer;
  outline: none;
}
.contact-form button:hover {
background-color: #46617a;
}
.contact-form button:active {
  background-color: #567999;
}
/*----------contact-reviews----------*/
.contact-reviews {
  background-color: #ffffff;
  padding: 15px;
}
.contact-reviews-subtitle {
font-size: 26px;
font-weight: bold;
color: #202e3b;
display: block;
}
.olga-recall {
  text-align: center;
  display: inline-block;
  width: 220px;
  font-size:14px;
  font-style: italic;
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 70px;
  margin-top: 20px;
}
.olga-recall blockquote {
  margin: 0;
}
.olga-recall cite {
  font-weight: bold;
  color: #202e3b;
  font-style: normal;
}
/*----------footer----------*/
.page-footer {
  background: #29323d;
  padding: 15px;
}
.logo-brand-footer {
   float:right;
   color: #ffcd34;
   font-size: 24px;
   font-weight: bold;
   padding-left: 15px;
}
.logo-footer {
  float: left;
}

.nav-primary-footer {
  float: right;
  font-weight: normal;
  font-size: 16px;
  padding: 0;
}
.nav-primary-footer ul {
  margin:0;
}
 .footer-nav-menu_item {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
 }
 .footer-nav-menu_item a {
  text-decoration: none;
  color: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 13px 10px;
 }
 .footer-nav-menu_item a:hover {
    border: 2px solid #636d76;
 }
 .footer-nav-menu_item a:active {
  border: 2px solid #a6abb1;
 }
 .active-link-footer {
  color:#f5f5f5;
  padding: 15px 20px;
 }
 .btn-order-footer  {
  display: inline-block;
    padding: 15px 30px;
}
.btn-order-footer a {
  text-decoration: none;
  color: #ffcd34;
}
.btn-order:hover {
    color:#d4ac36;
}
.btn-order:active {
  color:#bc9a37;
}